<table class="table table-striped table-dark table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Wine</th>
      <th scope="col">Wine-Strains</th>
    </tr>
  </thead>
  <tbody>
        <% @wines.each do |wine| %>
            <tr>
                <th scope="row"><%= wine.id %></th>    
                <td><%= wine.name %></td>
                <td>
                    <ul>
                    <%  wine.wines_strains.each_with_index do |wine_strain, index| %>
                        <li>Cepa <%= "#{index + 1} : #{wine_strain.strain.name} | #{wine_strain.porcentage.to_i}%" %> </li>
                    <% end %>
                    </ul>
                </td>
            </tr>
        <% end %>
  </tbody>
</table>