<div class="nested-fields form-inline">
    <%= f.select :oenologist_id, oenologist_for_select, {}, class: 'custom-select mx-sm-3 mb-2' %>
    <div class="form-group mr-sm-3 mb-2">
        <%= f.label :note, '%' %>
        <%= f.number_field :note, class: 'form-control mr-sm-3' %>
    </div>
    <%= link_to_remove_association 'remove note', f %>
</div>